.text{
    color: blue;
    background-color: yellow;
    border: 2px solid black;
}

.para {
    font-size: xx-large;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: tomato;
  }


  #name{
    
  }