.nav {
  height: 20vh;
  width: 100%;
  /* background-color: brown; */
}
.header {
  height: 40vh;
  width: 100%;
  /* background-color: chocolate; */
}
.body {
  height: 60vh;
  width: 100%;
  background-color: cadetblue;
  display: flex;
}
.Footer {
  height: 30vh;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
}

.leftBody {
  width: 50%;
  background-color: blue;
}
.rightBody {
  width: 50%;
  background-color: red;
}

.links {
  width: 33%;
  background-color: coral;
}

.social {
  width: 33%;
  background-color: yellow;
}

.address {
  width: 33%;
  background-color: violet;
}

.navigation-contanier {
  width: 503px;
  height: 100px;
  border-radius: 20px;
  background: #f2f7fc;
  margin-left: 839px;
  margin-top: 164px;
  margin-right: 98px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.AnctiveanchorElement {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: linear-gradient(127deg, #ff9c1a 0%, #e80505 100%);
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.anchorElement {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: #e1e8ef;
  color: #000;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.about-container {
  width: 820px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #700808;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  margin-left: 520px;
  margin-top: 10px;
}
